DECIMAL_GATEWAY="https://devnet-gate.decimalchain.com/api"
MNEMONIC="bulb raw claw magnet romance jaguar life cluster solve random laptop salmon pottery subject country aware actual hope wedding hawk amused cage secret network"
